body {
    font: 1.2em/1.62 sans-serif;
    margin: 1em auto;
    max-width: 40em;
    padding: 0 0.62em 3.24em;
}

h1,
h2 {
    line-height: 1.2;
}

button {
    width: 100%;
    min-width: 1em;
    max-width: 5em;
    font-size: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: black;
    color: white;
}

a {
    color: black;
    text-decoration-color: #fccb06;
    text-indent: 1em;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    border-top: 1px solid black;
}
