body {
    font: 1.2em/1.62 sans-serif;
    margin: 1em auto;
    max-width: 40em;
    padding: 0 0.62em 3.24em;
}

h1 {
    text-align: center;
}

h2 {
    padding: 0.5em 0;
    border-top: 1px solid black;
    line-height: 1.2;
}

button {
    width: 100%;
    min-width: 1em;
    max-width: 5em;
    font-size: inherit;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: black;
    color: white;
}

p {
    text-indent: 1em;
}

a {
    color: black;
    text-decoration-color: #0077cc;
}

a:hover {
    color: #0077cc;
    text-decoration: none;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    border-top: 1px solid black;
}
